# Environments
**/.env
**/.env.*
.env
.env.local

# Node
node_modules/
npm-debug.log
yarn-error.log

# Next.js
.next/
out/
build/

# Go
/backend/bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# OS files
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.swo
